/* =Web part custom
==============================================*/

/*Yellow*/
.yellow-web-part tr.ms-WPHeader {
    background: none repeat scroll 0 0 #F3D07C;
}
.yellow-web-part h3.ms-standardheader,
.yellow-web-part h3.ms-WPTitle,
.yellow-web-part h3.ms-WPTitle a {
    color: #995B1E;
}
.yellow-web-part .ms-WPBody {
    background: #fffaea;
    padding: 15px;
}
.yellow-web-part .ms-WPBody a:link,
.yellow-web-part .ms-WPBody a:visited {
    color: #995B1E;
}

/*Green*/
.green-web-part tr.ms-WPHeader {
    background: none repeat scroll 0 0 #BEDD9A;
}
.green-web-part h3.ms-standardheader,
.green-web-part h3.ms-WPTitle,
.green-web-part h3.ms-WPTitle a {
    color: #00275a;
}
.green-web-part .ms-WPBody {
    background: #DEECC8;
    padding: 15px;
}
.green-web-part .ms-WPBody a:link,
.green-web-part .ms-WPBody a:visited {
    color: #00275a;
}

/* Wrap long header */
.long-wpHeader nobr,
.long-wpHeader nobr span {
    white-space: pre-wrap;
}